<section>
  <div class="image">
      <%= image_tag 'index/restaurant.jpg', class: 'banner-img'%>
      <div class="container centered">
        <div class="row">

          <div class="col-md-6 pt-5">
            <div class="row">
                <h3 class="heading display-4 strong-400 c-white">
                  Bienvenue sur Speak&UP
                </h3>
                <p class="text-lg line-height-1_8 c-white mt-4">
                  Vous désirez rencontrer du monde avec qui parler étranger ?<br>
                  Ici nous vous proposons des profils compatibles avec vos envies d'apprentissage.<br><br>
                  <strong>Inscrivez vous afin de profiter de l'expérience !</strong>
                </p> 
  
            </div>          
          </div>

          <div class="col-md-3 col-lg-pull-2">
          </div>

          <div class="col-md-3 col-lg-pull-2">
            <div class "row">
            <div class="container inscription">
              <div class="boutons">
                <p><%= link_to "Se connecter", new_user_session_path, class: 'btn btn-styled btn-base-1 btn-circle'%></p>
                <p><%= link_to "S'enregistrer", new_user_registration_path, class: 'btn btn-styled btn-base-1 btn-circle' %></p>
              </div>          
            </div>
          </div>
          </div>

      </div>    
    </div>
  </div>
</section>
