<section class="slice-sm sct-color-1">
                        <div class="profile">
                            <div class="container">
                                <div class="row cols-xs-space cols-sm-space cols-md-space">
                                    <div class="col-lg-4">
                                        <div class="sidebar sidebar-inverse bg-base-1 sidebar--style-2 no-border stickyfill">
                                                <div class="widget">
        <!-- Profile picture -->
					        <div class="profile-picture profile-picture--style-2">
					            <%= image_tag "profil.jpg" %>
					            <a href="#" class="btn-aux">
					                <i class="ion ion-edit"></i>
					            </a>
					        </div>


					        <!-- Profile details -->
					        <div class="profile-details">
					            <h2 class="heading heading-4 strong-500 profile-name"><%= @user.first_name %></h2>
					            <h3 class="heading heading-6 strong-400 profile-occupation mt-3">Founder, Web Developer</h3>
					            <h3 class="heading heading-light heading-6 strong-400 profile-location">Bucharest, Romania</h3>
					        </div>

					        <!-- Profile connect -->
					        <div class="profile-connect mt-4">	
					            <a href="#" class="btn btn-styled btn-white btn-circle">Follow</a><hr>
					            <a href="#" class="btn btn-styled btn-base-2 btn-circle">Send message</a>
					        </div>

    </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-8">
                                        <div class="main-content">
                                            <!-- Page title -->
                                            <div class="page-title">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-6 col-12">
                                                        <h2 class="heading heading-5 text-capitalize strong-500 mb-0">
                                                            <a href="#" class="link text-underline--none">
                                                                <i class="ion-ios-arrow-back"></i>Profile 
                                                            </a>
                                                        </h2>
                                                    </div>
                                                    <div class="col-lg-6 col-12">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="link-menu link-menu--style-3 py-4 border-bottom">
										      <a href="../../pages/profile/account-settings.html" class="active">Profil</a>
										      <a href="../../pages/profile/account-orders.html">Paramètres</a>
										    </div>

                                            <!-- Account settings -->
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <form class="form-default" data-toggle="validator" role="form">
                                                        <!-- General information -->
                                                        <div class="card no-border bg-transparent">
                                                            <div class="card-title px-0 pb-0 no-border">
                                                                <h3 class="heading heading-6 strong-600">
                                                                    Biographie
                                                                </h3>
                                                                <p class="mt-1 mb-0">
                                                                	Ut ipsi quisque sit amicorum de ut quisque multa supplicare res ipsi iis Quam precari est potius satis faceremus sunt.

                                                                </p>
                                                            </div>
                                                       
                                                        </div>

                                                        <hr class="mt-0 mb-0">

                                                        <!-- Account info -->
                                                        <div class="main-content">
                                            <!-- Page title -->
                                            <div class="page-title">
                                                <div class="row align-items-center">
                                                    <div class="col-lg-6 col-12">
                                                        <h2 class="heading heading-5 text-capitalize strong-500 mb-0">
                                                            <a href="#" class="link text-underline--none">
                                                                <i class="ion-ios-arrow-back"></i> Langues
                                                            </a>
                                                        </h2>
                                                    </div>
                                                </div>
                                            </div>



                                            <!-- Notifications -->
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="card no-border bg-transparent">
                                                        <div class="card-title px-0">
                                                            <h3 class="heading heading-6 strong-600">
                                                                Langues maitrisées :
                                                            </h3>
                                                        </div>
                                                        <div class="card-body px-0">
                                                            
                                                            <div class="checkbox">
                                                            	<ul class="checkbox">
                                                            		<li>Français</li>
                                                            		<li>Anglais</li>
                                                            	</ul>                                                               
                                                            </div>                                                          
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="card no-border bg-transparent">
                                                        <div class="card-title px-0">
                                                            <h3 class="heading heading-6 strong-600">
                                                                Langues en cours d'apprentissage : 
                                                            </h3>
                                                        </div>
                                                        <div class="card-body px-0">
                                                            <div class="checkbox">
                                                                <input type="checkbox" name="checkbox_example_2" id="checkboxExample_2a" checked="checked">
                                                                <label for="checkboxExample_2a">a new device was connected</label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <input type="checkbox" name="checkbox_example_2" id="checkboxExample_2b" checked="checked">
                                                                <label for="checkboxExample_2b">periodical newsletters are sent</label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <input type="checkbox" name="checkbox_example_2" id="checkboxExample_2c">
                                                                <label for="checkboxExample_2c">a login attempt is made from another device</label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <input type="checkbox" name="checkbox_example_2" id="checkboxExample_2d">
                                                                <label for="checkboxExample_2d">a order is ready to be packed and shipped</label>
                                                            </div>
                                                            <div class="checkbox">
                                                                <input type="checkbox" name="checkbox_example_2" id="checkboxExample_2e" checked="checked">
                                                                <label for="checkboxExample_2e">the package arived at the final destination</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                                        <hr class="mt-0 mb-0">

                                                        <!-- Change password -->
                                                        <div class="card no-border bg-transparent">
                                                            <div class="card-title px-0 pb-0 no-border">
                                                                <h3 class="heading heading-6 strong-600">
                                                                    Change password
                                                                </h3>
                                                            </div>
                                                            <div class="card-body px-0">
                                                                <div class="row">
                                                                    <div class="col-md-6 col-lg-4">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Current password</label>
                                                                            <input type="text" class="form-control form-control-lg">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-6 col-lg-4">
                                                                        <div class="form-group">
                                                                            <label class="control-label">New password</label>
                                                                            <input type="text" class="form-control form-control-lg">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-6 col-lg-4">
                                                                        <div class="form-group">
                                                                            <label class="control-label">Confirm password</label>
                                                                            <input type="text" class="form-control form-control-lg">
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="text-right">
                                                                    <a href="#" class="btn btn-base-1">Change password</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>

                                            <hr class="mt-0 mb-0">

                                            <!-- Addresses -->
                                            <div class="py-4">
                                                <h3 class="heading heading-6 strong-600">My addresses</h3>
                                            </div>

                                            <div class="row cols-md-space cols-sm-space cols-xs-space">
                                                <div class="col-lg-6">
                                                    <div class="card">
                                                        <div class="px-4 py-4">
                                                            <p class="c-gray-light">
                                                                Desiree Jinny
                                                                <br>
                                                                1333 Deerfield, State College
                                                                <br>
                                                                PA, 16803
                                                            </p>

                                                            <p class="c-gray-light mt-3">
                                                                E: desiree@example.com
                                                                <br>
                                                                T: 555 965 452
                                                            </p>

                                                            <span class="clearfix"></span>

                                                            <ul class="inline-links inline-links--style-2">
                                                                <li class="d-none d-lg-inline-block">
                                        							<a href="#" class="link link--style-2 strong-600">Edit address</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="link link--style-2 strong-600">Add new</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6">
                                                    <div class="card">
                                                        <div class="px-4 py-4">
                                                            <p class="c-gray-light">
                                                                Desiree Jinny
                                                                <br>
                                                                1333 Deerfield, State College
                                                                <br>
                                                                PA, 16803
                                                            </p>

                                                            <p class="c-gray-light mt-3">
                                                                E: desiree@example.com
                                                                <br>
                                                                T: 555 965 452
                                                            </p>

                                                            <span class="clearfix"></span>

                                                            <ul class="inline-links inline-links--style-2">
                                                                <li class="d-none d-lg-inline-block">
                                        							<a href="#" class="link link--style-2 strong-600">Edit address</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#" class="link link--style-2 strong-600">Add new</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
