<%= form_for(@user) do |f| %>

<div class="field">
  <h2>Sélectionnez vos interets</h2>
  <%= collection_select(:user, :interest_ids, Interest.all, :id, :name, {}, { :multiple => true}) %>
</div>

<%= f.submit %>

<% end %>
