@import "bootstrap";

/*flash*/
.alert{
  position: absolute;
  display: inline-block;
  width: 30%;
  text-align: center;
  float: right;
  height: 50px;
}

.alert ul li{
  list-style-type: none;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  border: 1px solid rgba(172,172,172,1);
  background-color: #eaeaea;
}

/* chat */

.chat-name{
  padding-left: 0px;
}

.chat-name li{
  list-style:  none;
  border-bottom: 0.3px solid rgba(172,172,172,1);
}

.chat-name li a{
  padding-left: 5px;
}

.message{
  border: 2px solid #dedede;
  background-color: #ECECEC;
  color: #03050f !important;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 10px 0;
  max-width: 500px !important;
  text-align: right;
}

.darker {
  border-color: #ccc;
  background-color: #ff5a26;
  color: #fff !important;
  text-align: left;
}

.message::after {
  content: "";
  clear: both;
  display: table;
}
